In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('/Users/danielmartinez/Desktop/EMTECH/Proyecto_final_2/synergy_logistics_database.csv')
df

,register_id,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
0,1,Exports,Japan,China,2015,31/01/15,Cars,Sea,Honda,33000000
1,2,Exports,Japan,China,2015,01/02/15,Cars,Sea,Honda,16000000
2,3,Exports,Japan,China,2015,02/02/15,Cars,Sea,Honda,29000000
3,4,Exports,Japan,China,2015,03/02/15,Cars,Sea,Honda,14000000
4,5,Exports,Japan,China,2015,04/02/15,Cars,Sea,Honda,17000000
...,...,...,...,...,...,...,...,...,...,...
19051,19052,Imports,Japan,Singapore,2020,27/06/20,Gas turbines,Sea,Union Energy Co,1000000
19052,19053,Imports,Malaysia,Singapore,2020,28/06/20,Gas turbines,Sea,Union Energy Co,2000000
19053,19054,Imports,Malaysia,Singapore,2020,29/06/20,Gas turbines,Sea,Union Energy Co,33000000
19054,19055,Imports,Malaysia,Singapore,2020,30/06/20,Gas turbines,Sea,Union Energy Co,13000000
19055,19056,Imports,Malaysia,Singapore,2020,01/07/20,Gas turbines,Sea,Union Energy Co,30000000

In [10]:
df.dtypes

register_id        int64
direction         object
origin            object
destination       object
year               int64
date              object
product           object
transport_mode    object
company_name      object
total_value        int64
dtype: object

In [11]:
df[['direction', 'origin', 'destination', 'product', 'transport_mode', 'company_name']] = df[['direction', 'origin', 'destination', 'product', 'transport_mode', 'company_name']].astype('category')

In [12]:
df['year'] = pd.to_datetime(
    df['year'],
    errors='coerce',
    format = '%m/%d/%Y %H:%M:%S %p'
)

In [13]:
df['date'] = pd.to_datetime(
    df['date'],
    errors='coerce',
    format = '%m/%d/%Y %H:%M:%S %p'
)

In [14]:
df.dtypes

register_id                int64
direction               category
origin                  category
destination             category
year              datetime64[ns]
date              datetime64[ns]
product                 category
transport_mode          category
company_name            category
total_value                int64
dtype: object

### Opción 1) Rutas de importación y exportación. 

* Synergy logistics está considerando la posibilidad de enfocar sus esfuerzos en las 10 rutas más demandadas. Acorde a los flujos de importación y exportación, ¿cuáles son esas 10 rutas? 

* ¿le conviene implementar esa estrategia? ¿porqué?

In [15]:
df_grouped = df.groupby(['origin', 'destination']).count()
df_grouped_sorted = df_grouped.sort_values('product', ascending=False)
df_grouped_sorted['register_id'].head(10)

origin       destination
South Korea  Vietnam        497
Netherlands  Belgium        437
USA          Netherlands    436
Japan        Mexico         385
China        Mexico         351
             Japan          343
Germany      China          328
Japan        Brazil         306
Germany      France         299
South Korea  Japan          294
Name: register_id, dtype: int64

### Opción 2) Medio de transporte utilizado. 
+ ¿Cuáles son los 3 medios de transporte más importantes para Synergy logistics considerando el valor de las importaciones y exportaciones? 
+ ¿Cuál es medio de transporte que podrían reducir?

In [16]:
df.groupby(['direction', 'transport_mode']).count()['register_id']

direction  transport_mode
Exports    Air               2045
           Rail              2780
           Road              2149
           Sea               8434
Imports    Air                344
           Rail               601
           Road               449
           Sea               2254
Name: register_id, dtype: int64

Opción 3) Valor total de importaciones y exportaciones. Si Synergy Logistics quisiera enfocarse en los países que le generan el 80% del valor de las exportaciones e importaciones ¿en qué grupo de países debería enfocar sus esfuerzos?

In [17]:
df_countries = df.groupby(['origin', 'destination', 'direction']).count()
df_countries_sorted = df_countries.sort_values('product', ascending=False)

In [18]:
df_countries_sorted['cumsum'] = df_countries_sorted['product'].cumsum()

In [19]:
df_countries_sorted['percentage'] = df_countries_sorted['cumsum'] / df_countries_sorted['register_id'].sum() * 100

In [20]:
df_80 = df_countries_sorted['percentage'].head(98).reset_index()

In [21]:
df_80[['origin','destination']]

         origin  destination
0   South Korea      Vietnam
1   Netherlands      Belgium
2           USA  Netherlands
3         China       Mexico
4         Japan       Brazil
..          ...          ...
93          USA       Canada
94       Mexico       Brazil
95       Russia       Turkey
96       Brazil  Netherlands
97  South Korea          USA

[98 rows x 2 columns]

In [22]:
df_80[['destination']].value_counts()

destination
USA                     11
China                   10
Mexico                   8
Brazil                   6
Germany                  6
Japan                    5
Belgium                  5
Canada                   5
Thailand                 5
Argentina                3
United Kingdom           3
United Arab Emirates     3
Spain                    3
Netherlands              3
France                   3
Italy                    3
South Korea              2
Russia                   2
Singapore                2
Malaysia                 1
Belorussia               1
Turkey                   1
Switzerland              1
Ireland                  1
Slovakia                 1
Poland                   1
Philippines              1
New Zealand              1
Vietnam                  1
India                    0
Peru                     0
Croatia                  0
Austria                  0
dtype: int64


A partir del análisis de las opciones anteriores, ¿Cuál opción u opciones es conveniente implementar como base en la estrategia?
Justifica a la dirección tu recomendación en forma de un reporte respaldado por datos y análisis en una extensión máxima de 1.5 cuartillas.

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=26d139f0-46cd-48ab-bde1-cce8316500a3' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>